%h1 Create new listing


= form_with model: @listing, local: true do |form|
  %p
    = form.label :Name
    %br/
    = form.text_field :name
  %p
    = form.label :content
    %br/
    = form.text_area :content
  %p
    = form.submit















