%h1 Create new listing


= form_with model: @listing, local: true do |form|
  %p
    = form.label :name
    %br/
    = form.text_field :name
  %p
    = form.label :location
    %br/
    = form.text_field :location
  %p
    = form.label :description
    %br/
    = form.text_area :description  
  %p
    = form.label :availability
    %br/
    = form.text_field :availability
  %p
    = form.label :email
    %br/
    = form.email_field :email
  %p
    = form.label :phone_number
    %br/
    = form.telephone_field :phone_number
  %p
    = form.submit "Create Listing"
