%h1 Create new listing


= form_with model: @listing, local: true do |form|
  %p
    = form.label :Name
    %br/
    = form.text_field :name
  %p
    = form.label :Location
    %br/
    = form.text_field :location
  %p
    = form.label :Description
    %br/
    = form.text_area :description  
  %p
    = form.label :Availability
    %br/
    = form.text_field :availability
  %p
    = form.label :Email
    %br/
    = form.email_field :email
  %p
    = form.label :"Phone number"
    %br/
    = form.telephone_field :phone_number
  %p
    = form.submit "Create Listing"
